/* Стили для шапки сайта */
header {
  background-color: #336699;
  color: white;
  text-align: center;
  padding: 30px 20px;
  position: relative; /* фиксируем в нормальном потоке */
  z-index: 1;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 10px 0 0;
  font-size: 1.2em;
}

/* Адаптация для мобильных */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 200px;
    left: -200px;
  }

  .sidebar.open {
    left: 0;
  }

  body {
    margin-left: 0;
  }
}
